node_modules/
.DS_Store
.env
reports/*
!reports/.gitkeep
!reports/sample-report.html
allure-results/
reports/allure-results/
reports/allure-report/
screenshots/*
!screenshots/.gitkeep
videos/*
!videos/.gitkeep
test-results/
playwright-report/
.env.local
*.log
